html, body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace;
  background-color: #f9e1ea;
}

button {
  user-select: none;
  outline: none;
}

.App canvas {
  image-rendering: pixelated; /* preserves pixel art crispness */
  display: block;
}
